{# @var craft \craft\web\twig\variables\CraftVariable #}

{% extends "_layouts/cp" %}
{% set title = "Starter" %}
{% set pluginCpUrl = url('starter') %}

{% set content %}
    <h2>Hello, welcome.</h2>
{% endset %}
