{# @var craft \craft\web\twig\variables\CraftVariable #}

{% extends "_layouts/cp" %}
{% set title = "Theming" %}
{% set pluginCpUrl = url('starter') %}
{% set selectedSubnavItem = 'theming' %}

{% set content %}
    <h2>Theming.</h2>
{% endset %}
